.aside {
	height: 300px;
	background-color: red;
	padding-left: 15px;
}

div.col-md-10 {
	padding-left: 0px;
	padding-right: 0px;
}

div.panel-body {
	padding: 0px;
}

.panel-title {
	font-weight: bold;
}

div.main-container {
	padding: 15px;
}

.rodape {
	height: 50px;
	margin-top: 20px;
	background-color: #eee;
	border-radius: 1%;
}

/*Cadastrar Usuario*/

.form-cadusuario {
	max-width: 500px;
	margin: 0 auto;
}

.form-cadusuario .btn {
	margin-top: 20px;
}

.form-cadusuario>label {
	margin: 0;
	margin-top: 15px;
}

.form-cadusuario .radio {
	margin: 0;
}

/*Cadastrar Item*/

.label-cadastro {
	margin-top: 15px;
}

.botao-cadastro {
	margin-top: 20px;
}


/*Consultar Item*/
.form-buscaitem {
	max-width: 500px;
	margin: 0 auto;
	position: relative;
}

/*Live search*/
#livesearch {
	position: absolute;
	display: inline-block;
	background-color: #fff;
	width: 100%;
	border: 1px solid #A5ACB2;
	list-style: none;
	padding: 0px 12px 0px 12px;
	z-index: 1;
}

#livesearch li:hover {
	background-color: #eee;
}
